@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hy6mso');
  src:  url('fonts/icomoon.eot?hy6mso#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hy6mso') format('truetype'),
    url('fonts/icomoon.woff?hy6mso') format('woff'),
    url('fonts/icomoon.svg?hy6mso#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-document-edit:before {
  content: "\e900";
}
.icon-adobephotoshop:before {
  content: "\e901";
  color: #00c8ff;
}
.icon-gmail:before {
  content: "\e909";
  color: #d14836;
}
.icon-linkedin:before {
  content: "\e90a";
  color: #0077b5;
}
.icon-microsoftaccess:before {
  content: "\e902";
  color: #ba141a;
}
.icon-microsoftexcel:before {
  content: "\e903";
  color: #217346;
}
.icon-microsoftoffice:before {
  content: "\e905";
  color: #e74025;
}
.icon-microsoftpowerpoint:before {
  content: "\e906";
  color: #d24726;
}
.icon-microsoftword:before {
  content: "\e907";
  color: #2b579a;
}
.icon-trello:before {
  content: "\e904";
  color: #0079bf;
}
.icon-whatsapp:before {
  content: "\e908";
  color: #25d366;
}
.icon-stats-dots:before {
  content: "\e99b";
}
